*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    background-color: #EBA33A;
    display: flex;
    width: 90%;
    height: 100vh;    
    flex-direction: column;
}
.title-logo{
   display: flex;
   align-items: flex-start;
}
.title-logo img{
    width: 50px;
    height: 50px;
    margin: 13px;
    margin-right: 0px;
    
}
.title-logo h1{
    color: black;
    font-size: 30px;
    margin: 20px;
}
.home{
    display: flex;
    padding: 2px 15px;
}
.home img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;
}
.home button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.profile{
    display: flex;
    padding: 2px 15px;
}
.profile img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.profile button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.messages{
    display: flex;
    padding: 2px 15px;
}
.messages img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.messages button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.history{
    display: flex;
    padding: 2px 15px;
}
.history img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.history button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.task{
    display: flex;
    padding: 2px 15px;
}
.task img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.task button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.commuities{
    display: flex;
    padding: 2px 15px;
    margin-bottom: 60px;
}
.commuities img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.commuities button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.settings{
    display: flex;
    padding: 2px 15px;
}
.settings img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.settings button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.support{
    display: flex;
    padding: 2px 15px;
}
.support img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.support button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.privacy{
    display: flex;
    padding: 2px 15px;
}
.privacy img{
    width: 20px;
    height: 20px;
    margin: 13px;
    scroll-margin-left: 10px;

}
.privacy button{
    background-color: #EBA33A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
body{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: 150px 1fr;
}
.top-of-page{
    background-color: white;
}
.search{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.search img{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 19px;
}
.search input{
    background-color: #2F5A78;
    border-radius: 20px;
    width: 700px;
    height: 30px;
    padding-left: 10px;
    color: white;
}

.text{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}
.text p{
    padding: 20px 20px;
    font-family: roboto ,sans-serif;
}
.text img{
    background-color: white;
    width: 70px;
    height: 70px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 0;
    margin-top: -170px;
}
.top img.avatar{
    width: 40px;
    height: 40px;
}
.top img.icon{
    width: 20px;
    height: 20px;
}
.top h3{
    font-family: roboto,sans-serif;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 60px 20px;
    gap: 50px;
}
.buttons button{
    background-color: #EBA33A;
    color: white;
    border: none;
    border-radius: 30px;
    width: 80px;
    height: 35px;
    cursor: pointer;
}